# Format of this file is YAML
# Minimum clang-format version required: clang-format version 3.6.0
# Detailed description of options available at http://clang.llvm.org/docs/ClangFormatStyleOptions.html

# This file is copied form the Apple Darwin project and modified by JouderMin to fit his own coding habit.

AccessModifierOffset: -2

AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: true

AlignConsecutiveAssignments:  true

AllowShortBlocksOnASingleLine: Never

AllowShortCaseLabelsOnASingleLine: false

AllowShortFunctionsOnASingleLine: None

AllowShortIfStatementsOnASingleLine: Never

AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterDefinitionReturnType: None

AlwaysBreakBeforeMultilineStrings: true

AlwaysBreakTemplateDeclarations: Yes

BinPackArguments: true

BinPackParameters: false

BreakBeforeBinaryOperators: None

BreakBeforeBraces: Attach

ColumnLimit: 132

IndentCaseLabels: false

IndentWidth: 4

NamespaceIndentation: All

TabWidth: 4

UseTab: Never

IndentWrappedFunctionNames: false

KeepEmptyLinesAtTheStartOfBlocks: false

PointerAlignment: Middle

SpaceAfterCStyleCast: false

SpaceBeforeAssignmentOperators: true

SpaceBeforeParens: ControlStatements

SpaceInEmptyParentheses: false

SpacesInCStyleCastParentheses: false

SpacesInParentheses: false

SpacesInSquareBrackets: false
